{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <link rel="stylesheet" href="{% static 'recipes\hx-rec.css' %}">

</head>
<body >
<h1>{{user}}</h1>
<h3>Search</h3>
{% include 'search/search-form.html' %}
<br>
{% if user.is_authenticated %}
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="logout">
</form>

{% endif %}
<br>
{% block content %}
{% endblock %}
<script>
    document.body.addEventListener("htmx:configRequest", (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}'
            })

<!--  adding csrf_toke to htmx headers   -->
</script>
</body>
</html>